#portfolio {
    padding-top: 7rem;
}

.portfolio__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-primary-variant-bg);
    border: 1px solid var(--color-primary-variant);
    border-radius: 2rem;
    padding: 1.2rem;
    transition: var(--transition);
}

.portfolio__item:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.title{
    color: var(--color-white);
}

.portfolio__item-image {
    overflow: hidden;
    float: right;
    width: 50%;
    margin: 0;
    object-fit: contain;
    display: flex;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.portfolio__item-image:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.03);
}

.portfolio__item h5.project{
    text-transform: uppercase;
    color: var(--color-light);
}

.portfolio__item h3 {
    margin: 0rem 0 1.5rem;
}

.description {
    width: 49%;
    color: var(--color-light);
    padding-bottom: 3rem;
}

.github-link{
    font-size: 20px;
    color: var(--color-white);
}

.demo-link{
    padding-left: 1rem;
    font-size: 25px;
    color: var(--color-white);
}

.tags {
    color: var(--color-primary);
    font-size: 15px;
    word-spacing: 10px;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .portfolio__item-image {
        width: 100%;
        padding-bottom: 1rem;
    }

    .description {
        width: auto;
    }

    .portfolio__item-image:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.02);
    }
}
 
/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    #portfolio{
        padding-top: 2.5rem;
    }

    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
} 