header{
    height: 106vh;
    overflow: hidden;
}

.header__container {
    padding-top: 7rem;
    text-align: center;
    height: 100%;
    position: relative;
}

h5.text-light {
    padding-left: 34%;
    padding-right: 34%;
}

/* ============ CTA =========== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============ HEADER SOCIALS =========== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 3rem;
    bottom: 0;
    font-size: 20px;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 6rem;
    background: var(--color-light);
}

/* ============ ME =========== */
.me {
    width: 22rem;
    height: 30rem;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
}

.gradient-shape {
    margin-top: 0rem;
    background-image: linear-gradient(to bottom, transparent, transparent, var(--color-bg));
}

/* ============ SCROLL DOWN =========== */
.scroll__down{
    position: fixed;
    right: 1.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ============ INDICATOR BARS =========== */
.indicators__container {
    transform: rotate(180deg);
    position: fixed;
    margin-left: 85%;
}

.bar {
    content: "";
    display: block;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    width: 24px;
    height: 2.5px;
    background: var(--color-lightest);
    margin-left: 90%;
    transition: var(--transition);
}

.bar:hover {
    width: 30px;
}

.indicators__container > a.active > .bar {
    background: var(--color-primary);
    width: 40px;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============== */

/* ============= MEDIA QUERIES (IPAD AIR)) ============== */
@media screen and (max-width: 1024px) {
    header {
        height: 106vh; 
    }

    h5.text-light {
        padding-left: 28%;
        padding-right: 28%;
    }


    .indicators__container {
        transform: rotate(180deg);
        position: fixed;
        margin-left: 88%;
    }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    header {
        height: 110vh;
    }

    .header__container h1 {
        font-size: 2rem;
    }

    h5.text-light {
        padding-left: 10%;
        padding-right: 10%;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
} 