header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header-description {
    padding-top: 0;
    text-align: left;
    display: block;
    width: 51%;
    margin-top: 25%;
    padding-left: 0;
}

/* ============ CTA =========== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

/* ============ HEADER SOCIALS =========== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 3rem;
    bottom: 0;
    font-size: 20px;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 6rem;
    background: var(--color-light);
}

/* ============ ME =========== */
.me {
    width: 24rem;
    height: 32rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 50%;
    border-radius: 12rem 12rem 0 0;
}

.gradient-shape {
    bottom: 6%;
    background-image: linear-gradient(to bottom, transparent, transparent, var(--color-bg));
}

/* ============ SCROLL DOWN =========== */
.scroll__down{
    position: fixed;
    right: 1.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ============ INDICATOR BARS =========== */
.indicators__container {
    transform: rotate(180deg);
    position: fixed;
    margin-left: 85%;
}

.bar {
    content: "";
    display: block;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    width: 24px;
    height: 2.5px;
    background: var(--color-lightest);
    margin-left: 90%;
    transition: var(--transition);
}

.bar:hover {
    width: 30px;
}

.indicators__container > a.active > .bar {
    background: var(--color-primary);
    width: 40px;
}

/* ============= MEDIA QUERIES (BIG DEVICES) ============== */
@media screen and (min-width: 1800px) {
    header {
        height: 100vh; 
        padding-top: 8%;
    }
    .me {
        bottom: 57%;
    }
    .gradient-shape {
        bottom: 6%;
    }
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh; 
        padding-top: 25%;
    }

    .header-description {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-top: 0;
    }

    h5.text-light {
        padding-left: 28%;
        padding-right: 28%;
    }

    /*indicators removed*/
    .indicators__container {
        transform: rotate(180deg);
        position: fixed;
        margin-left: 88%;
    }

    .me {
        width: 22rem;
        height: 30rem;
        overflow: hidden;
        position: absolute;
        left: calc(50% - 11rem);
        margin-top: 4rem;
        bottom: auto;
        border-radius: 12rem 12rem 0 0;
    }
    
    .gradient-shape {
        bottom: 8%;
        background-image: linear-gradient(to bottom, transparent, transparent, var(--color-bg));
    }

    .cta {
        justify-content: center;
    }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    header {
        height: 120vh;
    }

    .header__container h1 {
        font-size: 2rem;
    }

    h5.text-light {
        padding-left: 10%;
        padding-right: 10%;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .cta {
        justify-content: center;
    }
} 