@import url('https://kodhus.com/kodhus-ui/kodhus-0.1.0.min.css');
body {
  margin: 0;
  padding: 0;
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.navigation li {
  width: 10px;
  height: 10px;
  background: var(--color-bg);
  border-radius: 50%;
  margin: 20px;
  border: 1px solid var(--color-light);
  cursor: pointer;
  transition: transform 0.2s;
}
.navigation li:hover{
  background: var(--color-primary-light);
  border-color: var(--color-light);
  transform: scale(1.5);
}
.navigation li.selected {
  background: var(--color-primary-light);
  border-color: var(--color-primary);
  transform: scale(1.5);
}