footer {
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
}

footer a {
    color: var(--color-light);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0rem;
    display: inline-block;
}

.footer__copyright {
    margin-bottom: 0rem;
    color: var(--color-light);
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .footer__copyright {
        margin-bottom: 4rem;
    }
}
 