#fun {
    padding-top: 7rem;
}

.fun__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 3rem;
    position: relative;
    width: auto;
}

.fun {
    border: 1px solid var(--color-bg-variant);
    border-radius: 1rem;
    padding: 1.2rem;
    transition: var(--transition);
    height: 14rem;
    width: 14rem;
}

.item__song{
    background-image: url('../../assets/Song.png');
    background-size: cover;
}

.item__book{
    background-image: url('../../assets/Book.png');
    background-size: cover;
}

.item__show{
    background-image: url('../../assets/Show.png');
    background-size: cover;
}

.item__place{
    background-image: url('../../assets/Place.png');
    background-size: cover;
}

.fun:hover {
    cursor: pointer;
}

.item__text {
    color: var(--color-white);
    text-transform: uppercase;
    padding-bottom: 5px;
}

.item__name {
    color: var(--color-white);
    padding-top: 5px;
    font-size: 15px;
}

.item__subname {
    color: var(--color-light);
    font-size: 13px;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .fun__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 0 2rem;
    }
}
 
/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .container.fun__container{
        width: 100%;
    }

    .fun__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .fun {
        height: 10rem;
        width: 10rem;
        padding-bottom: 1.5rem;
    }
} 