/* ==== DESKTOP VIEW ====*/
.mobile-view, .nav-icon {
    display: none;
}

.desktop-view{
    background: linear-gradient(to bottom, var(--color-nav), transparent);
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0.6rem;
    justify-content: right;
    padding-right: 3rem;
    z-index: 1;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    top: 0rem; 
    gap: 2.5rem;
    backdrop-filter: blur(15px);
}

.desktop-view a {
    background: transparent;
    border-radius: 5%;
    padding-top: 0.5rem;
    display: flex;
    color: var(--color-light);
    display: inline-block;
    position: relative;
    transition: var(--transition);
    font-size: 0.9rem;
}

.desktop-view a:hover {
    color: var(--color-white);
    transition: var(--transition);
}


.desktop-view a.active{
    color: var(--color-primary); 
    transition: var(--transition);
}

.desktop-view a:hover:after{
    content: "";
    position: absolute;
    top: 1.8rem;
    background: var(--color-primary);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    left:calc(50% - 0.2rem);
    transition: var(--transition);
}

.color-mode a {
    position: fixed;
    display: flex;
    left: 2.5rem;
    top: 1.3rem;
    font-size: 25px;
    z-index: 2;
}

.color-mode a::after {
    display: none; 
    /* No underline on hover color-mode icon */
}

.color-mode a:hover{
    color: var(--color-white);
    transition: var(--transition);
}

#theme-toggler{
    display: flex;
    border: 1px solid var(--color-primary);
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4rem;
    cursor: pointer;
    position: fixed;
    top: 0;
    z-index: 2;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 5px;
    color: var(--color-light);
}

#theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#theme-toggler span.active {
    background: var(--color-toggle-active);
    color: var(--color-white);
    border-radius: 4px;
}

/* ==== MOBILE VIEW ====*/
@media screen and (max-width: 1024px) {
    .mobile-view{
        display: none;
    }

    .desktop-view a:hover:after{
        display: none;
    }

    .desktop-view .color-mode{
        display: flex;
        flex: 1;
        width: 100%;
        padding: 2rem;
        justify-content: left;
        left: 50%;
        position: fixed;
        transform: translateX(-50%);
        top: 0;
    }

}


/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .desktop-view{
        display: none;
    }

    .nav-icon {
        display: inline;
    }

    .color-mode{
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: left;
        left: 45%;
        position: absolute;
        transform: translateX(-50%);
        top: 0;
    }
    
    .mobile-view {
        background: var(--color-nav);
        width: max-content;
        display: block;
        padding: 0.7rem 1.7rem;
        z-index: 2;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1.5rem;
        display: flex;
        gap: 0.8rem;
        border-radius: 3rem;
        backdrop-filter: blur(15px);
    }

    .mobile-view a {
        background: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-light);
        font-size: 1rem;
    }

    .mobile-view a:hover {
        background: rgba(0, 0, 0, 0.3);
        color: var(--color-white);
    }

    .mobile-view a.active {
        background: var(--color-primary-light);
        color: var(--color-primary); 
    }

    #theme-toggler{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.6rem;
        width: 4.2rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 8%;
        margin-top: 2%;
        z-index: 2;
        border-radius: 3px;
    }
}