/* ==== DESKTOP VIEW ====*/
.mobile-view, .nav-icon {
    display: none;
}

.desktop-view{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.257), transparent);
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0.6rem;
    justify-content: right;
    padding-right: 2rem;
    z-index: 1;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    top: 0rem; 
    gap: 2.2rem;
    backdrop-filter: blur(15px);
}

.desktop-view a {
    background: transparent;
    border-radius: 5%;
    padding: 0.2rem;
    display: flex;
    color: var(--color-light);
    font-size: 0.rem;
}

.desktop-view a:hover {
    color: var(--color-white);
}

.desktop-view a.active {
    color: var(--color-primary); 
}

/* ==== MOBILE VIEW ====*/
@media screen and (max-width: 1024px) {
    .desktop-view{
        display: none;
    }

    .nav-icon {
        display: inline;
    }
    
    .mobile-view {
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        display: block;
        padding: 0.7rem 1.7rem;
        z-index: 2;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        gap: 0.8rem;
        border-radius: 3rem;
        backdrop-filter: blur(15px);
    }

    .mobile-view a {
        background: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-light);
        font-size: 1.1rem;
    }

    .mobile-view a:hover {
        background: rgba(0, 0, 0, 0.3);
        color: var(--color-white);
    }

    .mobile-view a.active {
        background: var(--color-primary-light);
        color: var(--color-primary); 
    }
}